:root {
  --main-color: #4d5ae5;

}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  display: flex;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ==============Header Mobile============== */

.container {
  max-width: 428px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.logo {
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-header {
  display: none;
}

.contacts {
  display: none;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  margin: 0;
}
.mobile-menu-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.mobile-list-contacts {
  display: flex;
  flex-direction: column;
}

.mobile-list-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mobile-tel {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  margin-bottom: 40px;
}

.mobile-email {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}

.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  background-color: #404bbf;
}

.mobile-social-list {
  max-width: 328px;
  justify-content: space-between;
}

/* ===============Header Tablet=============== */

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ffffff;
    
  }

  .page-header-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .list-header {
    display: flex;
    gap: 40px;
  }

  .list-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .logo {
     margin-right: 120px;
  }
  .accent-header {
    color: #2e2f42;
  }

  .item {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .item-studio {
    position: relative;
    color: #404bbf;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-studio::after {
    position: absolute;
    display: flex;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: 1px;
  }

  .item-studio:hover,
  .item-studio:focus {
    color: #404bbf;
  }

  .list-info {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-info:hover,
  .list-info:focus {
    color: #404bbf;
  }

  .contacts {
    display: flex;
    font-style: normal;
  }
}
/* ===============Header Desktop============== */

@media screen and (min-width: 1158px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .page-header-container {
    padding-left: 15px;
    padding-right: 15px;
    
  }

  .list-contacts {
    flex-direction: row;
    gap: 40px;
  }

  .logo {
    margin-right: 76px;
  }
  .accent-header {
    color: #2e2f42;
  }

  .item {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .item-studio {
    position: relative;
    color: #404bbf;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-studio::after {
    position: absolute;
    display: flex;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
  }

  .item-portfolio {
    position: relative;
    color: #404bbf;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-portfolio::after {
    position: absolute;
    display: flex;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
  }

  .item-studio:hover,
  .item-studio:focus {
    color: #404bbf;
  }

  .list-info {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-info:hover,
  .list-info:focus {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
  }
}
/* Індекс секція 1 */

/* !============Мейн======== */

/* ==============Mobile Main============== */

.section-color {
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/imghtml/mobile-bg@1x.jpg");
  background-size: cover;
  max-width: 428px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/imghtml/mobile-bg@2x.jpg);
  }
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.index-btn {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.index-btn:hover,
.index-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ===================Tablet Main============== */

@media screen and (min-width: 768px) {
  .section-color {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/imghtml/tablet-bg.jpg");
    max-width: 768px;
    
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/imghtml/tablet-bg@2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  }
/* ================Desktop Main=========== */

@media screen and (min-width: 1158px) {
  .section-color {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/imghtml/bg.jpg");
    max-width: 1440px;
   
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/imghtml/descktop-bg@2x.jpg);
    }
  }

  .main-title {
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }

  
}
/* =================Опис================== */

/* =================Mobile Description=============== */

.description-item {
  display: none;
}

.description {
  padding-top: 96px;
  padding-bottom: 96px;
}


@media screen and (max-width: 1157px) {
  .subtitle {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .description-subtitle-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

.list-description {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

/* ===================Tablet Description============== */
@media screen and (min-width: 768px) {
 
  .list-description {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
  }

  .subtitle {
    text-align: left;
  }

  .text-description {
    max-width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* ==================Desktop Description============ */
@media screen and (min-width: 1158px) {
  .description {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .description-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .list-description {
    display: flex;
    gap: 24px;
  }

  .subtitle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .description-subtitle-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .text-description {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* ==========What are we doing========== */

@media screen and (max-width: 1157px) {
  .pic-section {
    display: none;
  }
}

  @media screen and (min-width: 1158px) {
    .pic-section {
      padding-bottom: 120px;
    }

    .pic-descript {
      flex-basis: calc((100% - 48px) / 3);
    }

    .list-pic {
    
      gap: 24px;
      justify-content: center;
      flex-basis: calc((100% - 48px) / 3);
    }
  }
  /* ============== Team =============== */

  /* ==============Mobile Team=============== */

  @media screen and (max-width: 1157px) {
    .team-color {
      padding-top: 96px;
      padding-bottom: 96px;
      background-color: #f4f4fd;
    }
    .teamcard-color {
      background-color: #ffffff;
      text-align: center;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .social-list-icon {
      fill: #f4f4fd;
    }
    .heading {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: #2e2f42;
      margin-bottom: 72px;
    }
    .team-title {
      padding: 32px 0;
    }
    .social-list {
      justify-content: center;
      gap: 24px;
    }
    .social-list-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-list-link:hover,
    .social-list-link:focus {
      background-color: #404bbf;
    }
  }

  .list-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }

  .subtitle {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .subtitle-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
  }

  /* =================Tablet Team================ */
  @media screen and (min-width: 768px) {
    .list-team {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
    .subtitle-tablet {
      text-align: start;
    }
  }
 
/* ===============Desktop Team============== */
@media screen and (min-width: 1158px) {
  .list-team {
    justify-content: center;
    gap: 24px;
  }

  .team-color {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
  }

  .teamcard-color {
    background-color: #ffffff;
    text-align: center;
    flex-basis: calc((100%-72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .social-list-icon {
    fill: #f4f4fd;
  }

  .heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .team-title {
    padding: 32px 0;
  }

  .subtitle {
    text-align: center;
  }
  .subtitle-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
  }

  .social-list {
    justify-content: center;
    gap: 24px;
  }

  .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #404bbf;
  }
}

/* Кнопки */
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-color);
  border-color: #e7e9fc;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* =========Портфоліо======== */

.main-portfolio {
  padding: 96px 0 120px;
}

.btn-list {
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.pic-portfolio {
  width: calc((100%-48px) / 3);
  max-width: 360px;
}

.portfolio-img {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover,
.portfolio-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 16px;
  padding-right: 16px;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.title-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

.list-portfolio {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  left: 0;
  top: 0;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.title-text-overlay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
}
.portfolio-link-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-img:hover .overlay,
.portfolio-img:focus .overlay {
  transform: translateY(0%);
}

/* !===========Клієнти========== */

/* ==============Mobile Customers============== */
.customers-item {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-list-item {
  width: 190px;
  height: 88px;
}

.customers-list-icon {
  fill: currentColor;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heading-customers {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.customers-list-link:hover,
.customers-list-link:focus {
  fill: #404bbf;
  color: #404bbf;
  border: 1px solid #404bbf;
}

/* =================Tablet Customers=============== */
@media screen and (min-width: 768px) {
  
  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 92px;
    padding-right: 92px;
  }

  .customers-list-item {
    display: flex;
    width: 168px;
    
  }

    .customers-list-link {
    display: flex;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    align-items: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
}
/* ===============Desktop Customers============= */

@media screen and (min-width: 1158px) {
  .customers-item {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    justify-content: center;
    text-align: center;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .customers-list-item {
    width: calc((100%-120px) / 6);
    
  }
}   
/* !=========Футер=========! */

/* ============Mobile Footer=============== */

.logo-footer {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-list {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.accent-footer {
  color: #f4f4fd;
}

.footer-list-icon {
  fill: #f4f4fd;
}

.text-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.footer-items-list {
  justify-content: center;
  gap: 16px;
}

.footer-item-text {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-footer {
  padding-left: 64px;
  padding-right: 64px;
  margin-bottom: 72px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 72px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-subscribe {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-label {
  margin-bottom: 16px;
}

.subscribe-input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.subscribe-input::placeholder {
  display: flex;
  align-items: center;

  color: #ffffff;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-icon {
  margin-left: 16px;
}

/* ==============Tablet Footer============== */

@media screen and (min-width: 768px) {
  .logo-footer {
    display: inline-block;
    
  }
  
  .footer-item-text {
    justify-content: start;
  }

  .footer-item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
  }

  .left-footer {
    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
    margin-left: 92px;
  }

 
  .form-wrapper {
    flex-direction: row;
  }

  .subscribe-wrapper {
    margin-left: 92px;  
  }

  .text-subscribe {
    justify-content: start;
  }

  .subscribe-label {
    margin-right: 24px;
  }
  .subscribe-input {
    width: 264px;
    margin: 0;
  }
  
  .subscribe-btn {
    margin: 0;
  }
  
}

/* ================Desktop Footer=============== */

@media screen and (min-width: 1158px) {

  .footer-list {
    padding-top: 100px;
    padding-bottom: 100px;
  }

   
  .text-footer {
    width: 264px;
  }
 
  .footer-item-text {
    align-items: flex-start;
    
  }

  .footer-item {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .container {
    flex-wrap: nowrap;
  }

  .left-footer {
    display: flex;
    flex-direction: column;
    width: 264px;
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer-right {
    display: inline;
    margin-bottom: 0;
  }

  .subscribe-wrapper {
    margin-left: 80px;
  }

  .subscribe-label {
    margin-right: 24px;
  }
  .subscribe-input {
    padding-left: 16px;
   
  }
}
/* ==========Бекдроп======= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  height: 576px;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 392px;
  }
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .contact-form-field-wrapper,
.contact-form-checkbox-wrapper {
  display: block;
  margin-bottom: 8px;
} */

.contact-form-field-wrapper {
  margin-bottom: 8px;
}

.contact-form-comment-wrapper {
  margin-bottom: 16px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.contact-form-text {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.contact-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.contact-input-wrapper {
  position: relative;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: #4d5ae5;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

textarea {
  padding: 0;
}

.contact-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.form-checkbox {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #8e8f99;
}
.checkbox-policy {
  text-decoration-line: underline;
  color: #4d5ae5;
}


.checkbox-icon-wrapper {
  display: inline-flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  padding: 3px 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
}

.contact-form-checkbox:checked + .form-checkbox .checkbox-icon-wrapper {
  background-color: #404bbf;
  fill: #fff;
  border: none;
  border-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-btn {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-btn:hover,
.checkbox-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
